[submodule "bundle/distinguished"]
	path = bundle/distinguished
	url = git@github.com:Lokaltog/vim-distinguished.git
[submodule "bundle/vim-ios"]
	path = bundle/vim-ios
	url = https://github.com/eraserhd/vim-ios.git
[submodule "bundle/clang-complete"]
	path = bundle/clang-complete
	url = git@github.com:Rip-Rip/clang_complete.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/msanders-snipmate.vim"]
	path = bundle/msanders-snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/tpope-vim-ragtag"]
	path = bundle/tpope-vim-ragtag
	url = git@github.com:tpope/vim-ragtag.git
[submodule "bundle/plasticboy-vim-markdown"]
	path = bundle/plasticboy-vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "bundle/vim-scripts-tcomment"]
	path = bundle/vim-scripts-tcomment
	url = git@github.com:vim-scripts/tComment.git
[submodule "bundle/airblade-vim-rooter"]
	path = bundle/airblade-vim-rooter
	url = git@github.com:airblade/vim-rooter.git
[submodule "bundle/vim-scripts-taglist"]
	path = bundle/vim-scripts-taglist
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule "bundle/tim-pope-unimpaired"]
	path = bundle/tim-pope-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
